@model SweetHospitalver3.Models.TAIKHOAN
@{
    ViewBag.Title = "Sửa thông tin tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<style>
    .reupsubmit {
        margin: 30px 0 30px 0px;
        display: flex;
        justify-content: center;
    }

    .m-21 {
        margin: 8px 70px 8px 8px;
    }

    .editaccountfix {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width: 700px !important;
    }
</style>
<div class="container-fluid pt-4 px-4">
    <h2>Sửa thông tin tài khoản</h2>
    <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
            @using (Html.BeginForm("Editacc", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "Cập nhật thất bại", new { @class = "alert alert-danger" })

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
                    @Html.TextBoxFor(model => model.TK, new { @class = "form-control", @type = "text", @id = "TK" })

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                    @Html.TextBoxFor(model => model.Pass, new { @class = "form-control", @type = "text" })

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Chức danh</label>
                    <select class="form-select mb-3" name="ChucDanh">
                        <option value="Bệnh nhân" @(Model.ChucDanh == "Bệnh nhân" ? "selected":"")>Bệnh nhân</option>
                        <option value="Bác sĩ" @(Model.ChucDanh == "Bác sĩ" ? "selected":"")>Bác sĩ</option>
                        <option value="Nhân viên" @(Model.ChucDanh == "Nhân viên" || Model.ChucDanh == "Nhân Viên" ? "selected":"")>Nhân viên</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Trạng thái</label>
                    <select class="form-select mb-3" name="TrangThai">
                        <option value="Đang làm việc" @(Model.TrangThai == "Đang làm việc" ? "selected":"")>Đang làm việc</option>
                        <option value="Đã nghỉ việc" @(Model.TrangThai == "Đã nghỉ việc" ? "selected":"")>Đã nghỉ việc</option>
                        <option value="Bệnh nhân" @(Model.TrangThai == "Bệnh nhân" ? "selected":"")>Bệnh nhân</option>
                    </select>

                </div>
                <div class="reupsubmit">
                    <button type="button" class="btn btn-outline-secondary m-21" onclick="window.location.href='/Admin/Account/Account';">Hủy</button>
                    <input class="btn btn-outline-primary m-2" type="submit" value="Cập nhật" />
                </div>
            }
        </div>
    </div>
</div>

